
<div class="container">
    <div class="mx-auto">
        <div class="row justify-content-center mt-3">
            <div class="col-10">
                <%= render 'shared/errors',obj:@article %>
                <%= form_with model: @article,class:"container shadow p-3 mb-3 bg-black rounded",local: true do |f| %>
                    <div class="form-group row">
                        <%= f.label :name,class:"col-2 col-form-label text-white"%>
                        <div class="col-10">
                            <%= f.text_field :name,class:"form-control shadow p-3 bg-body-tertiary rounded",placeholder:"Title of The Article" %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%=f.label :description,class:"col-2 col-form-label text-white" %>
                        <div class="col-10 mt-4">
                            <%=f.text_area :description,class:"form-control shadow  rounded",rows:9 ,placeholder:"Description of The Article"%>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%=f.label :category,class:"col-2 col-form-label text-white" %>
                        <div class="col-10 mt-4">
                            <%= f.collection_select(:category_ids,Category.order(:name_of_category), :id, :name_of_category,
                                {prompt: "Make Your Select from Below Options(can be empty)"}, 
                                { multiple:true ,size:3,class:"form-select shadow rounded"}) %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%=f.label :tag,class:"col-2 col-form-label text-white" %>
                        <div class="col-10 mt-4">
                            <%= f.collection_select(:tag_ids,Tag.order(:name_of_tag), :id, :name_of_tag,
                                {prompt: "Make Your Select from Below Options(can be empty)"}, 
                                { multiple:true ,size:3,class:"form-select shadow rounded"}) %>
                        </div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <%= f.label :main_image, class:"form-label" %>
                        <%= f.file_field :main_image, class: "form-control", type:"file", id:"formFile"%>
                    </div>
 
                   
                    <div class="form-group  text-center mt-5">
                        <%= f.submit class:"btn btn-outline-dark btn-lg my-6 text-white " %>
                    </div> 
                <% end %>
            </div>
            <div class="mb-3">
                <%= link_to '[Cancel and Return Back To Article Listing]' ,articles_path,class:"row justify-content-center mt-4 text-black" %>
            </div>
        </div>
    </div>
</div>
